.Sidebar {
    padding-top: 20px;
    left: 0px;
    width: 236px;
    /* height: 957px; */
    height: 100%;
    position: fixed;
    background-color: #43C0F6;
    color: white;
}

.sidebar-text {
    font-size: 14px;
    font-family: Open Sans;
    /* font-weight: bold;
    /* padding-top: 20px; */
    padding-left: 15px;
}

.sidebar-icon {
    width: 25px;
    height: 25px;
    /* left padding not working */
padding-left: 22px;
}

.jasmina{
padding-left: 70px;
/* width: 79px;
height: 79px; */
}

.bottom-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 220px;
}

.pinkleft-arrow{
    padding-top: 70px;
    padding-left: 200px;
    /* become too big after adding width and height
    width: 64px;
    height: 72px */
}