.Sidebar{
    top: 62px;
    left: 0px;
    width: 236px;
    height: 957px;
    position: fixed;
    bottom: 62px;
    display: flex;
    flex-direction: column;
    background-color: #43C0F6;
    color: white;
    font: Open Sans, Bold;
    size: 12px;
    opacity: 100%;
}
.Sidebar-Progress{
    top: 205px;
    left: 22px;
}
.sidebar-text{
font-size: 14px;
font-family: Open Sans;
font-weight: bold;
align-items: left;
top: 205px;
left: 60px;
width: 142px;
height: 19px;
}
